@import "style.css";

.offset-left {
    padding-left: 30px;
    margin-bottom: 0;
    text-align: left;
}

/* Zdroj: https://css-tricks.com/line-clampin/ */
.line-clamp {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.book-description{
    height: 14ex;
}