@import "style.css";

.book-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount-input {
    width: 65px;
}

.book-cover {
    max-height: 140px;
}