body{
    background-color: #fce6a1 !important;
}
.sidebar {
    width: 0;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.1s;
    position: absolute;
    top: 77px;
    bottom: 200px;
}

.btn-warning:hover{
    color: #000000;
    background-color: #d9a302 !important;
    border-color: #d9a302 !important;
}

footer{
    height: 200px;
}

.rounded {
    border-radius: 2rem !important;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

.image-mp{
    background-color: black;
    max-width: 200px;
    max-height: 200px;
}

.image-bs{
    background-color: black;
    max-width: 100px;
    max-height: 150px;
}

.buy-part{
    bottom: 0;
}

#book-image {
    width: 200px;
}

#book-image-large {
    width: 400px;
}

.offset-left {
    padding-left: 30px;
    margin-bottom: 0px;
    text-align: left;
}

.offset-right {
    display: inline-block;
    text-align: right;
    width: 100%;
}