body {
    background-color: #fce6a1;
}

/*navbar*/

.btn-warning:hover {
    color: #000000;
    background-color: #d9a302;
    border-color: #d9a302;
}

.rounded-extra {
    border-radius: 40px;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
}

.dropdown {
    position: static;
}

.dropdown-btn {
    background-color: #fafafa;
    color: #fafafa;
    border-color: #fafafa;
}

.dropdown:active {
    color: #000000;
}

#dropdown-container {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin-top: -1px;
    border-radius: 0;
    width: 100%;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color:  #fef3d2;
}

@media only screen and (max-width: 800px) {
    #log-in-btn {
        width: 100%;
    }
    #registration-btn {
        width: 100%;
    }
    #nav-right {
        width: 100%;
    }
}
/* large buttons */
.btn-xxl {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    width: 250px;
}
