body {
    background-color: #fce6a1 !important;
}

.btn-warning:hover {
    color: #000000;
    background-color: #d9a302 !important;
    border-color: #d9a302 !important;
}

.rounded {
    border-radius: 2rem !important;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
}


#book-image {
    width: 200px;
}

#book-image-large {
    width: 400px;
}

.offset-left {
    padding-left: 30px;
    margin-bottom: 0;
    text-align: left;
}

.offset-right {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.dropdown {
    position: static !important;
}

.dropdown-btn {
    background-color: #fafafa;
    color: #fafafa;
    border-color: #fafafa;
}

.dropdown:active {
    color: #000000;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin-top: -2px !important;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .container-expanding {
        width: 100% !important;
    }
}

@media only screen and (max-width: 800px) {
    .nav-btn {
        width: 100% !important;
    }

    .nav-right {
        width: 100%;
    }
}